# Java
target/
*.class

# Python
__pycache__/
*.pyc
*.pyo
.venv/
# TLA states
MT_specs/states/*
tla_specs/MTSpec/states/*
node_isolation_spec/states
tla_specs/states
*.tlc
*.out
tla_specs/NatsSmokeSpec/states
zgarbage/*
zMT_specs/*